.form {
	padding: 20px;
	background: #ffffff80;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.textInput {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
}

.selectWrapper select {
	width: 100%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
}

.buttonAdd {
	background: #937d49;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin-top: 10px;
}

.buttonAdd:hover {
	color: #fff;
	background-color: #5e5235;
	border-color: #5e5235;
	box-shadow: 0px 0px 3px black;
}
