.sectionGameBoard {
	min-height: 100vh;
	padding: 20px 20px 20px 100px;
	background-color: rgba(140, 125, 116, 0.645);
}

.infoWrapper {
	display: flex;
	flex-direction: column;

	padding: 0 50px;
}

.boardWrapper {
	margin: 20px 50px;
	border: 1px solid rgba(76, 70, 70, 0.297);
	background-color: rgba(68, 52, 52, 0.297);
}

.rowBoard {
	display: flex;
}

@media screen and (max-width: 1200px) {
	.sectionGameBoard {
		padding-left: 20px;
	}

	.boardWrapper {
		margin: 20px;
	}

	.infoWrapper {
		padding: 0 20px;
	}
}

@media screen and (max-width: 480px) {
	.sectionGameBoard {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		justify-content: center;
		min-height: auto;
	}
}
