.container {
	margin: 0 auto;
}

.main {
	background-color: rgba(240, 248, 255, 0.369);
}

.main h1 {
	color: #ae8989;
	padding: 20px;
	text-align: center;
}

.game {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

@media screen and (max-width: 480px) {
	.game {
		display: flex;
		flex-wrap: wrap;
	}

	.main h1 {
		padding: 10px;
		font-size: 18px;
	}
}
